body {
    font-family: Arial;
        background-color: white;
            margin: 0;
               padding: 0;
    }
  
          table {
              width: 80%;
              margin: 50px auto;
        
          }
  
          th, td {
              padding: 12px;
              text-align: center;
              border: 1px solid;
          }
  
          th {
              background-color: green;
              color: white;
              font-weight: bold;
          }
  
          tfoot {
              background-color: grey;
          }
  
          tfoot td {
              text-align: left;
              padding-left: 20px;
          }
  
          .preco {
              font-weight: bold;
          }